<form [formGroup]="formGroup" (ngSubmit)="goLogin()">
  <div class="group">
    <input type="text" formControlName="email"><span class="highlight"></span><span class="bar"></span>
    <label>User</label>
  </div>
  <div class="group">
    <input type="password" formControlName="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="submit" class="button buttonBlue">Sing in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
